@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overscroll-behavior: none;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Garnett", sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x pan-y; /* Ensure touch events are not blocked */
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@font-face {
    font-family: "Garnett";
    src: url("/fonts/Garnett-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Garnett";
    src: url("/fonts/Garnett-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Garnett";
    src: url("/fonts/Garnett-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

p {
    line-height: 1.7 !important;
}

.custom-dashed {
    border: 4px dashed rgba(255, 255, 255, 0.1);
    border-spacing: 4px;
}
